body {
    margin:0;
    font-family: 'Lato', sans-serif;
    background-color:#F5F5F5;
}

h1, h2, h3 {
    margin-top: 0;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #212614;
}

h2 {
    font-size: 1.5rem;
}

/* HEADER */
header {
    background-color: #A9A9A9;
    padding:2em 0;
}

.title {
    text-align:center;
    color:#fff;
    font-weight: 700;
}

.title h1 {
    font-weight:700;
    margin-bottom: 0;
    color:#fff;
}

/* NAV BAR */
.nav-list {
    list-style: none;
    padding:0;
    display:flex;
    justify-content: center;
}

.nav-list-item {
    margin:0 1em;
}

.nav-list-link {
    text-decoration: none;
    font-weight: 700;
    color:#fff;
    padding:0.25em 0;
}

.nav-list-link:hover, .nav-list-link:focus {
    color:#1792d2;
}

.home-page {
    /* to signify that we are already in the home page */
    border-bottom: 1px solid #fff;
}

.home-page:hover {
    color:#707070;  /* it shouldn't change color on hover as long as we are already on the home page*/
}

/* CONTAINER SECTION */

.container {
    width:90%;
    max-width: 980px; /*SHRINK THE CONTAINER CONTENTS ONLY WHEN THE WIDTH OF SCREEN IS LESS THAN 980*/
    margin: 0 auto;
}

h1 span {
    color:#b7832f;
}

img {
    width:100%;
    height:200px;
    object-fit: cover;
}

.columns {
    display:flex;
    padding:1em 0;  /*APPLY THIS TO EACH CHILD OF THIS FLE CONTAINER*/
    margin:1em 0;
    justify-content:space-between;
}

.col-bg {
    background-color: #000022;
    color:#fff;
    padding:0.5em;
}

p {
    margin-top: 0;
}

/* changing the width of each child element with respect to the flex container(parent) */
.col-25 {
    width:20%; /*take uo 25% of the parent element*/
}

.col-50 {
    width:45%;
}

.col-75 {
    width:70%;
}

/* DOING MEDIA QUERY LAST */
@media (max-width:600px) {
    .columns {
        flex-direction: column;
    }
    .col { /*since all the child has the col class name*/
        width:100%;  /*take the full length of the container*/
    }
}
